body
{
background-color: grey;
position:relative ;
}
#menu 
{
left:1;


}
.princip
{
right:1;
}
.newsSorties 
{
clear: both;
display: table;
}

.newSorties > span
{
	float:left;
	width: 33.33%;
	padding: 50 px;
}
*
{
	box-sizing: border-box;
}
