.one_piece
{
	float:left;
}
.one_piece +div
{
	float: left;
}
.tete_menu
{
	display:block;
	text-align: center;
	border-style: double;
	vertical-align: baseline;

}
.tete_menu > ul, .tete_menu > ol
{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.tete_menu > ul >li
{
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.masiko >img
{
	float: left;
}
.masiko >p
{
	justify-content: center;
}
.sec1, .sec2 , .sec3 , .sec4
{
	float : left;
	margin-left: 170px;
	
	justify-content: space-between;
}
.sec4
{
	justify-content: space-around;
}

/*
@media screen and (max-width: 1080px)
{

	[class*="im-"]
	{
		width:100%;
		height: auto;
		max-width: 100%;
	}

}

@media screen and (max-width: 600px)
{
 
 *{
 	box-sizing: border-box;
 }


}