body
{
	background-color: grey;
	position:relative ;
	width:auto;
	margin:0;
	padding:0;
}
#menu 
{
	float: left;
	width: 150px;
	border: 1px solid black;
	display: inline-block;
 
}
.princip
{
	float : 0;
	margin-left: 200px;
	border:1px solid black;
	justify-content: space-between;
}
.newsSorties 
{
	display: flex;
	text-align: center;
	clear: both;
	justify-content: space-around;
}

*
{
	box-sizing: border-box;
}

img
{
	max-width: 100%;
}